<!-- <div >
  <mat-chip-list>
    <mat-chip class="chip" *ngFor="let labels of label">
            {{labels.labelName}}
    <mat-icon matChipRemove (click)="onDelete(label)">close</mat-icon>
    </mat-chip>
</mat-chip-list>
</div> -->


<div fxLayout="row"  fxLayoutAlign="center center">
  <button mat-icon-button (click)="onRemind()" [matMenuTriggerFor]="menu3">
    <mat-icon matTooltip="Remind me"> add_alert</mat-icon>
  </button>

  <button mat-icon-button (click)="personadd()">
    <mat-icon matTooltip="Collaborate">person_add</mat-icon>
  </button>

  <button mat-icon-button (click)="onChangeColor()" [matMenuTriggerFor]="colorMenu">
    <mat-icon matTooltip="Change Color">color_lens</mat-icon>
  </button>

  <mat-menu #colorMenu="matMenu">
    <div *ngFor="let colors of arrayColor" fxLayout="row">
      <div *ngFor="let color of colors">
        <button [ngStyle]="{'background-color':color.hexcode}" mat-mini-fab (click)="setColor(color.name)">
        </button>
      </div>
    </div>
  </mat-menu>

  <button mat-icon-button (click)="insertPhoto()">
    <mat-icon>insert_photo</mat-icon>
  </button>

  <button mat-icon-button (click)="onArchive()">
    <mat-icon matTooltip="Archive">archive</mat-icon>
  </button>

  <button mat-icon-button [matMenuTriggerFor]="moreVert">
    <mat-icon matTooltip="More">more_vert</mat-icon>
  </button>
</div>
<!---- ................................................................... !---->

<div>
  <div>
    <mat-menu #moreVert="matMenu" fxLayout="column" fxLayoutAlign="center center">
      <div>
        <button mat-icon-button (click)="onDelete()">Delete Note</button>
      </div>

      <div>
          <button mat-menu-item [matMenuTriggerFor]="menu">Add Label</button>
      </div>
    </mat-menu>
  </div>

  <mat-menu #menu="matMenu">
    <div *ngFor="let labels of label" fxLayoutGap="20px" fxLayout="column">
      <mat-checkbox (click)="addLabel(labels)">
        {{labels.labelName}}
      </mat-checkbox>
    </div>
  </mat-menu>

  <div>
    <mat-menu #menu3="matMenu">
      <span style="margin-left: 10px">Reminder:</span>

    </mat-menu>
  </div>
</div>