<div fxLayout="column" fxLayoutAlign="center center" fxFlex="100">
  <mat-card class="register" fxLayout="column" fxLayoutAlign="center center">
  <mat-card-title  fxLayoutAlign="center start">
    <div>
      <h1>Fundoo Notes</h1>
    </div>
  </mat-card-title>
  <mat-card-subtitle fxLayoutAlign="center">
      <div>
        <h2>Register</h2>
      </div>
    </mat-card-subtitle>

    <div>
        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Enter your name">
            <mat-icon matSuffix>face</mat-icon>
            
          </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="outline">
            <mat-label>Phone Number</mat-label>
            <input matInput placeholder="Enter your Phone No.">
            <mat-icon matSuffix>phone</mat-icon>
            
          </mat-form-field>
    </div>
    <div><mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput placeholder="example. abc@xyz.com">
        <mat-icon matSuffix>mail</mat-icon>
        
      </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput placeholder="">
            <mat-icon matSuffix>visibility</mat-icon>
            
          </mat-form-field>
    </div>
    <div >
      <button mat-raised-button onclick="register">Register</button >
     </div>
  </mat-card>
  
</div>
