<div  fxLayout="column" fxLayoutAlign="center center" fxFlex="100">
  <mat-card class="forgotPassword" fxLayout="column" fxLayoutAlign="center center">
    <mat-card-title fxLayoutAlign="center start">
      <div>
          <h1>Fundoo Notes</h1>
      </div>
  </mat-card-title>
  <mat-card-subtitle>
      <div fxLayoutAlign="center">
          <h2>Forgot Password</h2>
      </div>
    </mat-card-subtitle>
      <div >
        <mat-form-field  appearance="outline">
            <mat-label>Email</mat-label>
            <mat-error *ngIf="email.invalid">{{emailValidation()}}</mat-error>
            <input type="email" matInput placeholder="Enter your registered Email" [formControl]="email" [(ngModel)]="forgotpassword.emailId">
            <mat-icon matSuffix>mail</mat-icon>

        </mat-form-field>
    </div>
    <div fxLayoutAlign="center center">
      <button mat-raised-button (click)="onForgotPassword()">Send Mail</button>
    </div>
  
  </mat-card>

</div>