.noteComponent{
    margin-left: 24%;
    padding-top: 3%;
    width: 546px;
    height: 100vh;

}


.noteMatCard{
    box-shadow: 0 3px 8px rgba(0,0,0,0.16);
    border-radius: 10px;
}

// .close{
//     margin-left: 140px;
// }