.noteComponent{
    
    padding-top: 3%;
    width: 588px;
    height: 100%;
    margin-left: 250px;
    margin-top: 35px;
    
}


.noteMatCard{
    box-shadow: 0 3px 10px rgba(0,0,0,0.16);
    border-radius: 20px;
}

mat-icon{
    font-size: 15px
}