.noteComponent{
    
    padding-top: 3%;
    width: 588px;
    height: 100%;
    margin-left: 250px;
}


.noteMatCard{
    box-shadow: 0 3px 8px rgba(0,0,0,0.16);
    border-radius: 10px;
}

mat-icon{
    font-size: 15px
}