<div *ngFor="let labels of label">
  <div fxLayout="row" fxFlex="100">
    <div fxFlex=30>
        <button mat-icon-button (click)="delete(labels)">
            <mat-icon>delete</mat-icon>
        </button>
    </div>

    <div fxFlex=40 class="text"> 
      <input matInput placeholder="Enter Label name" [(ngModel)]="labels.labelName"> 
    </div>
    <div fxFlex=30>
        <button mat-icon-button (click)="updateLabel(labels)">
            <mat-icon>edit</mat-icon>
        </button>
    </div>
  </div>

</div>